<hr>
<footer>
    <p>&copy; NewBirds Inc. & David Qbik</p>
    <h4>!!! STRONA MA NA CELU PRZEDSTAWIAĆ ZWIERZĘTA CHARAKTERYZUJĄCE SIĘ POSIADANIEM PIÓR I DZIOBÓW !!!</h4>
    <h4>!!! STRONA NIE MA PODTEKSTU SEKSUALNEGO !!!</h4>
</footer>

</body>
</html>