<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birds</title>
</head>
<body>
<header>
    <h1>Birds</h1>
    <nav>
        <a href="/">Lista</a>
        <a href="/birds/new">Dodaj nowego ptaka(Zwirze)</a>
        <a href="/users/register">Dodaj nowego użytkownika</a>
        <a href="/users/login">Zaloguj się</a>
    </nav>
    
</header>