<!-- find one -->
<%- include('../../partials/header') %>
<div class="container">
    <h2>Login</h2>
    <% if(currentUser) { %>
        <p>Witaj, <%= currentUser.username %>!</p>
    <% } else { %>
        <p>Nie jesteś zalogowany.</p>
    <% } %> 
    <form action="/users/login" method="POST">
        <div>
            <label for="username">Nazwa użytkownika:</label>
            <input type="username" name="username" required>
        </div>
        <div>
            <label for="password">Hasło:</label>
            <input type="password"  name="password" required>
        </div>
        <button type="submit">Login</button>
        
    </form>
</div>
<%- include('../../partials/footer') %>